h1 {
    font: normal 40px/45px 'Yeseva One', cursive;
    margin: 0 0 19px;
}

.recept-table {
    width: 100%;
    margin: -19px 0 24px;
    font-size: 14px;
    background: transparent;
    border: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
}

.recept-shadow {
    background: #fff;
    padding: 11px 30px 10px;
    color: #4b5254;
    margin: 0 0 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 3px rgb(151 128 96 / 16%);
    -moz-box-shadow: 0 2px 3px rgba(151,128,96,.16);
    box-shadow: 0 2px 3px rgb(151 128 96 / 16%);
}

p {
    background: transparent;
    border: 0;
    padding: 0;
    outline: 0;
    font: normal 12px 'Open Sans', sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.recept-shadow p {
    font-size: 16px;
    line-height: 19px;
    margin: 10px 0;
}

.tbl-det h3 {
    margin-top: 10px;
}
.recept-shadow h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 30px 0 20px;
    font-weight: bold;
}

h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font: normal 12px 'Open Sans', sans-serif;
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
}

.recept-table th em {
    font-size: 16px;
    color: #a2a5a6;
    font-weight: normal;
    text-align: left;
}

em {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
    font: normal 12px 'Open Sans', sans-serif;
    font-style: italic;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-indent: initial
}

.recept-table th {
    font-weight: normal;
    text-align: left;
    border-bottom: 1px dashed #e6e7e7;
    padding: 5px 0 5px;
    width: 250px;
}

th {
    display: table-cell;
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
}

.recept-table td {
    vertical-align: top;
    border-bottom: 1px dashed #e6e7e7;
    padding: 5px 0 5px 15px;
}

td {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    display: table-cell;
}

.span-4 {
    float: left;
    width: 33.333%;
    padding: 10px;
    box-sizing: border-box;
}

.span-8 {
    float: left;
    width: 66.666%;
    padding: 10px 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    display: block;
}

.all-info h5 {
    font: normal 12px 'Open Sans', sans-serif;
    font-size: 12px;
    color: #9da0a1;
    font-weight: normal;
    font-style: italic;
    margin: 0 0 8px;
}

.all-info strong {
    font-size: 18px;
    text-transform: uppercase;
}

.all-info {
    background: #f6f6f6 url(https://gotovim-doma.ru/img/cont/rapid-transition.jpg) 100% 0 no-repeat;
    padding: 15px 10px 10px 20px;
    border-radius: 3px;
    margin-bottom: 13px;
}

span {
    font: normal 12px 'Open Sans', sans-serif;
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
    font-weight: normal;
}

strong span {
    font-weight: bold;
}

.row-span {
    margin: 0 -10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

body {
    background: #FCFAF8;
}

.main-image {
    padding-bottom: 30px;
}

img {
    background: transparent;
}

.recept-shadow .step {
    margin-bottom: 1em;
}

.left-column h2 {
    font: normal 30px/40px 'Yeseva One';
    margin: 21px 0 10px;
}

.header-h1 {
    font: normal 30px 'Yeseva One', cursive;
    color: #4b5254;
    padding: 4px 0 7px;
    position: relative;
    letter-spacing: -0.04em;
}

tr {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
}